@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#back_button {
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 10px;
}

.controls {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

.control {

}

.control label {
  color: white;
}